* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 34px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.default-weight {
    font-weight: 700px;
}

.navbar-logo a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

.default-color {
    color: #F14668;
}

.default-color2 {
    color: #F14668;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 500;
}

.db2 {
    background-color: #F14668;
    color: #FFF;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    border: none;
}

.db3 {
    background-color: #FFF;
    color: #F14668;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    border: none;
}

.dc3 {
    color: #F14668;
    font-size: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.default-link {
    color: #F14668 !important;
}

.back-to-home{
    padding-top: 100px;
    text-align: center;
}

/* Login Form STARTS */

.login-logo {
    margin: 0 auto;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    text-align: center;
}
.login-logo img{
    width: 30%;
}

.soon-logo {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.soon-logo img{
    width: 50%;
}

.default-bg {
    background: #F14668 !important;
    color: #FFF !important;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.login-card {
    box-shadow: 0px 0px 15px 0px #F14668;
}


/* Login Form ENDS */


/* Dashboard Starts */

.content {
    margin-top: 70px;
}


/* Dashboard Ends */


/* List Pages Start */

.list-page {
    margin-top: 120px;
}

.top-bar {
    padding-left: 120px;
}


/* List Pages End */

/* Coutomers Contact Page Table CSS */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /*modal CSS */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #F14668;
    color: white;
  }

  .modal-body {padding: 2px 16px;}

.nav-link[data-toggle].collapsed:after{
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}

.nav-link[data-toggle].collapsed:after,
.nav-link[data-toggle]:not(.collapsed):after{
    color: #777777;
    font-size: 20px;
}

.nav-link[data-toggle].collapsed:hover,
.nav-link[data-toggle]:not(.collapsed):hover{
    color: #FFF;
    font-size: 20px;
}
/* Forms part start  */

.admin-form {
    display: inline;
}

.admin-form label {
    font-size: 16px;
    color: #F14668;
    padding-top: 30px;
    /* padding-left: 50px; */
    margin: 0 !important;
}

.admin-form input {
    padding-bottom: 0;
    padding-top: 0;
}


/* Forms part Ends  */

.ref p{
    text-align: center;
    color: #F14668;
    font-weight: 400;
    margin: 2% 0;
    font-size: 20px;
}
#dob{
    cursor: pointer;
    filter: invert(0.5);
}
#religion{
    color: #F14668;
    font-size: 15px;
}
.btn{
    padding: 10px 10px !important;
    font-weight: bold;
}
.check-label{
    padding-right: 50px;
}
.btn-tasks{
    color: #F14668 !important;
    background: #FFF !important;
    border-radius: 10px;
    border: 1px solid #F14668 !important;
    font-size: 13px !important;
    padding: 6px !important;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.btn-check:checked+.btn-tasks{
    color: #FFF !important;
    background: #F14668 !important;
}

.husband-info{
    display: none;
}

/*table pagination*/
.w-5 {
    display: none;
}

/*Admin profile css*/
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
/*End Admin Pfofile css*/
/* register Form CSS*/
body {
    background-color: #EBEAEF
}

.container {
    flex-wrap: wrap
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #4270C8;
    width: 350px;
    margin-top: -60px
}

p.mb-1 {
    font-size: 25px;
    color: #9FB7FD
}

.btn-primary {
    border: none;
    background: #5777DE;
    margin-bottom: 60px
}

.btn-primary small {
    color: #9FB7FD
}

.btn-primary span {
    font-size: 13px
}

.card.two {
    border-top-right-radius: 60px;
    border-top-left-radius: 0
}

.form-group {
    position: relative;
    margin-bottom: 2rem
}

.form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    border-bottom: 1.5px solid #E6EBEE
}

.form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #8A97A8
}

.form-control-placeholder {
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 80%
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
    top: 10px;
    color: #8B92AC
}

.btn-block {
    border: none;
    border-radius: 8px;
    background-color: #506CCF;
    padding: 10px 0 12px
}

.btn-block:focus {
    box-shadow: none
}

.btn-block span {
    font-size: 15px;
    color: #D0E6FF
}
/* register Form CSS end*/

/* change password Form CSS end*/

/* change password Form CSS end*/
